<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="header">

    <!-- ===== ENCABEZADO ===== -->
    <header id="header-principal">
        <div class="header-contenedor">

            <!-- LOGO DEL SISTEMA -->
            <a class="logo" th:href="@{/main}">
                <img th:src="@{/img/logoPequeñoALMXNAlt.png}" alt="Logo ALMXN" class="img img-logo">
            </a>

            <!-- BARRA DE NAVEGACIÓN -->
            <nav id="nav-principal">
                <ul class="nav-lista">
                    <li class="nav-item">
                        <a th:href="@{/main}" class="nav-enlace" th:classappend="${paginaActiva == 'inicio'} ? 'nav-enlace--activo'">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/gestion}" class="nav-enlace" th:classappend="${paginaActiva == 'gestion'} ? 'nav-enlace--activo'">Gestión</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/contacto}" class="nav-enlace" th:classappend="${paginaActiva == 'contacto'} ? 'nav-enlace--activo'">Contacto</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/publicidad}" class="nav-enlace" th:classappend="${paginaActiva == 'publicidad'} ? 'nav-enlace--activo'">Publicidad</a>
                    </li>

                </ul>
            </nav>

            <!-- USUARIO ACTUAL -->
            <div class="header-usuario">
                <span class="login-nombre" th:text="${session.usuarioLogueado.nombres} + ' ' + ${session.usuarioLogueado.apellidos}"></span>
                <span class="login-rol" th:classappend="${#strings.toLowerCase(session.usuarioLogueado.rol)} + '-rol'"><b th:text="${session.usuarioLogueado.rol}"></b></span>
                <a th:href="@{/login}" class="btn btn-secundario">Cerrar sesión</a>
            </div>

        </div>
    </header>
</th:block>

</body>
</html>
