<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Administrar Productos - Sistema de Gestión de Almacén">
    <title>ALMXN - Administrar Productos</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/globalGestion.css}">
    <link rel="stylesheet" th:href="@{/css/adminProductos.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main id="contenido-principal-gestion">
        <input type="radio" name="tab" id="pestaña-listaProducto" checked style="display:none">
        <input type="radio" name="tab" id="pestaña-agregarProducto" style="display:none">
        <div class="centro-pagina-gestion">
            <section class="gestion-inicio">
                <div>
                    <h1 class="titulo-seccion">Administrar Productos</h1>
                    <p class="subtitulo-seccion">Gestione los productos del sistema</p>
                </div>
                <div class="formulario-acciones">
                    <a th:href="@{/gestion}" class="btn btn-secundario">Volver</a>
                </div>
            </section>
            <div class="pestañas">
                <label for="pestaña-listaProducto" class="pestaña">Lista de Productos</label>
                <label for="pestaña-agregarProducto" class="pestaña">Agregar Producto</label>
            </div>
            <div class="pestaña-contenido" id="contenido-listaProducto">
                <div class="filtro-container">
                    <div class="filtro-grupo">
                        <label class="form-label" for="nombre-filtro">Nombre: </label>
                        <input class="form-control" type="text" id="nombre-filtro" placeholder="Ej: Leche Gloria">
                    </div>
                    <div class="filtro-grupo">
                        <label class="form-label" for="categoria-filtro">Categoría:</label>
                        <select id="categoria-filtro" name="idCategoria" class="form-control">
                            <option value="" selected>Sin filtro</option>
                            <option th:each="catProducto : ${listaCategorias}" th:value="${catProducto.idCategoria}" th:text="${catProducto.nombreCategoria}"></option>
                        </select>
                    </div>
                    <div class="filtro-grupo">
                        <label class="form-label" for="stockmin-filtro">Stock:</label>
                        <div class="filtro-doble">
                            <input class="form-control" type="number" id="stockmin-filtro" placeholder="Mín">
                            <input class="form-control" type="number" id="stockmax-filtro" placeholder="Máx">
                        </div>
                    </div>
                    <div class="filtro-grupo">
                        <label class="form-label" for="preciomin-filtro">Precio:</label>
                        <div class="filtro-doble">
                            <input class="form-control" type="number" id="preciomin-filtro" placeholder="Mín">
                            <input class="form-control" type="number" id="preciomax-filtro" placeholder="Máx">
                        </div>
                    </div>
                    <div class="filtro-grupo">
                        <label class="form-label" for="fechaMin-filtro">Fecha: </label>
                        <div class="filtro-doble">
                            <input class="form-control" type="date" id="fechaMin-filtro">
                            <input class="form-control" type="date" id="fechaMax-filtro">
                        </div>
                    </div>
                    <div class="filtro-grupo">
                        <label class="form-label" for="estado-filtro">Estado:</label>
                        <select id="estado-filtro" name="estado" class="form-control">
                            <option value="Todos">Sin filtro</option>
                            <option value="Activo" selected>Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div class="filtro-acciones">
                        <button class="btn btn-secundario" id="btnFiltrar">Filtrar</button>
                        <button class="btn btn-secundario" id="btnLimpiar">Limpiar</button>
                    </div>
                </div>
                <table class="tabla">
                    <thead class="header-tabla">
                        <tr>
                            <th class="header-tabla">Codigo</th>
                            <th class="header-tabla">Fecha de Adición</th>
                            <th class="header-tabla">Producto</th>
                            <th class="header-tabla">Categoría</th>
                            <th class="header-tabla">Stock Actual</th>
                            <th class="header-tabla">Unidad de medida</th>
                            <th class="header-tabla">Precio x Unidad</th>
                            <th class="header-tabla">Estado</th>
                            <th class="header-tabla">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="body-tabla">
                        <tr th:each="producto : ${listaProductos}">
                            <td class="body-tabla" th:text="${producto.codigoProducto}"></td>
                            <td class="body-tabla" th:text="${producto.fechaCreacionProducto}"></td>
                            <td class="body-tabla" th:text="${producto.nombreProducto}"></td>
                            <td class="body-tabla" th:text="${producto.categoria.nombreCategoria}"></td>
                            <td class="body-tabla" th:text="${producto.stockActualProducto}"></td>
                            <td class="body-tabla" th:text="${producto.unidadMedidaProducto}"></td>
                            <td class="body-tabla" th:text="'S/' + ${producto.precioVentaProducto}"></td>
                            <td class="body-tabla"><span class="estado" th:classappend="${#strings.toLowerCase(producto.estadoProducto)}" th:text="${producto.estadoProducto}"></span></td>
                            <td class="body-tabla">
                                <th:block th:if="${producto.estadoProducto == 'Activo'}">
                                    <a th:if="${session.usuarioLogueado.rol == 'Admin'}" th:href="@{/gestion/adminProductos/editar(id=${producto.idProducto})}" class="btn btn-secundario btn-editar">Editar</a>
                                    <button th:if="${session.usuarioLogueado.rol != 'Admin'}" type="button" class="btn btn-secundario" onclick="abrirModalPermiso()" style="font-size: 13px;">Editar</button>
                                    <button th:if="${session.usuarioLogueado.rol == 'Admin'}" type="button" class="btn btn-secundario btn-eliminar" th:data-id="${producto.idProducto}" th:data-nombre="${producto.nombreProducto}" data-action="/gestion/adminProductos/eliminar" data-param="idProducto">Eliminar</button>
                                    <button th:if="${session.usuarioLogueado.rol != 'Admin'}" type="button" class="btn btn-secundario btn-falso-eliminar" onclick="abrirModalPermiso()">Eliminar</button>
                                </th:block>
                                <th:block th:if="${producto.estadoProducto != 'Activo'}">
                                    <form th:if="${session.usuarioLogueado.rol == 'Admin'}" th:action="@{/gestion/adminProductos/activar}" method="POST">
                                        <input type="hidden" name="idProducto" th:value="${producto.idProducto}">
                                        <button type="submit" class="btn btn-secundario btn-activar">Activar</button>
                                    </form>
                                    <button th:if="${session.usuarioLogueado.rol != 'Admin'}" type="button" class="btn btn-secundario btn-falso-activar" onclick="abrirModalPermiso()">Activar</button>
                                </th:block>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pestaña-contenido" id="contenido-agregarProducto">
                <section class="form-grupo">
                    <form th:action="@{/gestion/adminProductos/guardar}" method="POST" class="form-validable">
                        <div class="formulario">
                            <div class="form-grupo">
                                <label for="nombre-producto" class="form-label">Nombre del producto</label>
                                <input type="text" id="nombre-producto" name="nombreProducto" class="form-control" placeholder="Ej: Platano Bizcochito" required>
                            </div>
                            <div class="form-grupo">
                                <label for="categoriaProducto" class="form-label">Categoría</label>
                                <select id="categoriaProducto" name="categoria.idCategoria" class="form-control">
                                    <option value="" disabled selected>Seleccione una categoría</option>
                                    <option th:each="catProducto : ${listaCategorias}" th:value="${catProducto.idCategoria}" th:text="${catProducto.nombreCategoria}"></option>
                                </select>
                            </div>
                            <div class="form-grupo">
                                <label for="unidad-medida" class="form-label">Unidad de medida</label>
                                <select id="unidad-medida" name="unidadMedidaProducto" class="form-control">
                                    <option value="" disabled selected>Seleccione una unidad</option>
                                    <option value="Unidad">Unidad</option>
                                    <option value="kg">Kg</option>
                                    <option value="Bolsa">Bolsa</option>
                                    <option value="litro">Litro (L)</option>
                                    <option value="Caja">Caja</option>
                                    <option value="Botella">Botella</option>
                                    <option value="Lata">Lata</option>
                                    <option value="Paquete">Paquete</option>
                                    <option value="Saco">Saco</option>
                                </select>
                            </div>
                            <div class="form-grupo">
                                <label for="precio-costo" class="form-label">Precio de Costo</label>
                                <input type="number" step="any" id="precio-costo" name="precioCostoProducto" class="form-control" placeholder="Ej: 40" min="0" required>
                            </div>
                            <div class="form-grupo">
                                <label for="precio-unidad" class="form-label">Precio de Venta</label>
                                <input type="number" step="any" id="precio-unidad" name="precioVentaProducto" class="form-control" placeholder="Ej: 10" min="0" required>
                            </div>
                        </div>
                        <div class="form-grupo form-textarea">
                            <label for="descripcion-producto" class="form-label">Descripción <span class="formulario-opcional">(opcional)</span></label>
                            <textarea id="descripcion-producto" name="descripcionProducto" class="form-control" placeholder="Descripción breve del producto..." rows="3"></textarea>
                        </div>
                        <div class="formulario-acciones">
                            <button type="reset" class="btn btn-secundario">Limpiar</button>
                            <button type="submit" class="btn btn-primario">Agregar Producto</button>
                        </div>
                    </form>
                </section>
            </div>
            <div th:replace="~{fragments/modalEliminar :: modalEliminar}"></div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <div th:replace="~{fragments/modalRestriccion :: modalRestriccion}"></div>
    <script th:src="@{/js/tema.js}" defer></script>
    <script th:src="@{/js/validaciones.js}" defer></script>
    <script th:src="@{/js/Filtros/productosFiltro.js}" defer></script>
    <script th:src="@{/js/Eliminar/eliminarFuncion.js}" defer></script>
</body>
</html>
