<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Administrar Proveedores - Sistema de Gestión de Almacén">
    <title>ALMXN - Administrar Proveedores</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/globalGestion.css}">
    <link rel="stylesheet" th:href="@{/css/adminProveedores.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main id="contenido-principal-gestion">

    <input type="radio" name="tab" id="pestaña-listaProveedores" checked style="display:none">

    <div class="centro-pagina-gestion">

        <section class="gestion-inicio">
            <div>
                <h1 class="titulo-seccion">Administrar Proveedores</h1>
                <p class="subtitulo-seccion">Gestione los proveedores que abastecen el almacén</p>
            </div>
            <div class="formulario-acciones">
                <a th:href="@{/gestion}" class="btn btn-secundario">Volver</a>
                <a th:href="@{/gestion/adminProveedores/nueva}" class="btn btn-primario">+ Agregar Proveedor</a>
            </div>
        </section>

        <div class="pestañas">
            <label for="pestaña-listaProveedores" class="pestaña">Lista de Proveedores</label>
        </div>

        <div class="pestaña-contenido" id="contenido-listaProveedores">
            <form method="GET" th:action="@{/gestion/adminProveedores}" class="filtro-container">
                <input type="hidden" name="tab" value="pestaña-listaProveedores">
                <div class="filtro-grupo">
                    <label class="form-label" for="razon-filtro">Razón Social: </label>
                    <input class="form-control" type="text" id="razon-filtro" name="razonSocial" placeholder="Ej: Alicorp" th:value="${param.razonSocial}">
                </div>
                <div class="filtro-grupo">
                    <label class="form-label" for="ruc-filtro">RUC: </label>
                    <input class="form-control" type="text" id="ruc-filtro" name="ruc" placeholder="Ej: 20100055237" th:value="${param.ruc}">
                </div>
                <div class="filtro-grupo">
                    <label class="form-label" for="telefono-filtro">Teléfono: </label>
                    <input class="form-control" type="number" id="telefono-filtro" name="telefono" placeholder="Ej: 998877665" th:value="${param.telefono}">
                </div>
                <div class="filtro-grupo">
                    <label class="form-label" for="estado-filtro">Estado:</label>
                    <select id="estado-filtro" name="estado" class="form-control">
                        <option value="Todos" th:selected="${param.estado == null or param.estado[0] == 'Todos'}">Sin filtro</option>
                        <option value="Activo" th:selected="${param.estado != null and param.estado[0] == 'Activo'}">Activo</option>
                        <option value="Inactivo" th:selected="${param.estado != null and param.estado[0] == 'Inactivo'}">Inactivo</option>
                    </select>
                </div>
                <div class="filtro-acciones">
                    <button type="submit" class="btn btn-secundario" id="btnFiltrar">Filtrar</button>
                    <a th:href="@{/gestion/adminProveedores}" class="btn btn-secundario" id="btnLimpiar">Limpiar</a>
                </div>
            </form>

            <table class="tabla">
                <thead class="header-tabla">
                <tr>
                    <th class="header-tabla">ID</th>
                    <th class="header-tabla">RUC</th>
                    <th class="header-tabla">Razón Social</th>
                    <th class="header-tabla">Teléfono</th>
                    <th class="header-tabla">Correo</th>
                    <th class="header-tabla">Estado</th>
                    <th class="header-tabla">Acciones</th>
                </tr>
                </thead>
                <tbody class="body-tabla">
                <tr th:each="proveedor : ${listaProveedores}">
                    <td class="body-tabla" th:text="${proveedor.idProveedor}"></td>
                    <td class="body-tabla" th:text="${proveedor.rucProveedor}"></td>
                    <td class="body-tabla" th:text="${proveedor.razonSocialProveedor}"></td>
                    <td class="body-tabla" th:text="${proveedor.telefonoProveedor}"></td>
                    <td class="body-tabla" th:text="${proveedor.correoProveedor}"></td>
                    <td class="body-tabla">
                        <span class="estado" th:classappend="${#strings.toLowerCase(proveedor.estadoProveedor)}" th:text="${proveedor.estadoProveedor}"></span>
                    </td>
                    <td class="body-tabla">
                        <th:block th:if="${proveedor.estadoProveedor == 'Activo'}">
                            <a th:if="${session.usuarioLogueado.rol == 'Admin'}" th:href="@{/gestion/adminProveedores/editar(id=${proveedor.idProveedor})}" class="btn btn-secundario btn-editar">Editar</a>
                            <label th:if="${session.usuarioLogueado.rol != 'Admin'}" for="toggle-modal-permiso" class="btn btn-secundario" style="font-size: 16px;">Editar</label>
                            <form th:if="${session.usuarioLogueado.rol == 'Admin'}" th:action="@{/gestion/adminProveedores/eliminar}" method="POST" style="display:inline;">
                                <input type="hidden" name="idProveedor" th:value="${proveedor.idProveedor}">
                                <button type="submit" class="btn btn-secundario btn-eliminar">Eliminar</button>
                            </form>
                            <label th:if="${session.usuarioLogueado.rol != 'Admin'}" for="toggle-modal-permiso" class="btn btn-secundario btn-falso-eliminar">Eliminar</label>
                        </th:block>
                        <th:block th:if="${proveedor.estadoProveedor != 'Activo'}">
                            <form th:if="${session.usuarioLogueado.rol == 'Admin'}" th:action="@{/gestion/adminProveedores/activar}" method="POST">
                                <input type="hidden" name="idProveedor" th:value="${proveedor.idProveedor}">
                                <button type="submit" class="btn btn-secundario btn-activar">Activar</button>
                            </form>
                            <label th:if="${session.usuarioLogueado.rol != 'Admin'}" for="toggle-modal-permiso" class="btn btn-secundario btn-falso-activar">Activar</label>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/modalRestriccion :: modalRestriccion}"></div>

</body>
</html>