/* ============================================
   PÁGINA DE GESTIÓN
   ============================================ */

.gestion-inicio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* OPCIONES GESTION */

.opc {
    background-color: var(--color-superficie);
    border: 3.5px solid var(--color-borde);
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

.opc-titulo {
    font-weight: 600;
    color: var(--texto-principal);
    font-family: var(--fuente-principal);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 25px;
}

.img-funcion {
    width: 25%;
    margin-bottom: 20px;
}

/* DISEÑO DE OPCIONES GESTION */

.gestion-administrarProductos {
    border-color: var(--adminProductos);
    cursor: pointer;
}

.gestion-adminUsuarios {
    border-color: var(--adminUsuarios);
    cursor: pointer;
}

.gestion-adminMovimientos {
    border-color: var(--adminMovimientos);
    cursor: pointer;
}

.gestion-adminProveedores {
    border-color: var(--adminProveedores);
    cursor: pointer;
}

.gestion-adminCategorias {
    border-color: var(--adminCategorias);
    cursor: pointer;
}

.gestion-adminMetricas {
    border-color: #3b82f6;
    cursor: pointer;
}
