/* ============================================
   ESTILOS DE ADMINISTRAR PRODUCTOS
   ============================================ */


/* Muestra la pestaña del input que está marcado */
#pestaña-listaProducto:checked ~ .centro-pagina-gestion #contenido-listaProducto,
#pestaña-agregarProducto:checked ~ .centro-pagina-gestion #contenido-agregarProducto {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Resalta visualmente el label de la pestaña activa. */
#pestaña-listaProducto:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-listaProducto"],
#pestaña-agregarProducto:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-agregarProducto"] {
    color: var(--texto-principal);
    border-bottom: 2px solid var(--color-rol);
    background-color: var(--color-rol);
}

.tabla tr {
    border-bottom: 1px solid var(--color-borde);
    text-align: center;
    font-size: 13px;
}

.btn-editar {
    font-size: 0.75rem;
    font-weight: 450;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 0.02em;
    border: none;
}

.btn-eliminar-modal {
    background-color: #dc3545;
    border-color: #dc3545;
    width: 50%;
}

#btn-cancelar-eliminar {
    width: 50%;
}

.modal-oculto{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-body {
    background: var(--color-fondo);
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.modal-info {
    margin-bottom: 1.5rem;
    color: var(--texto-secundario);
}

.estado {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 800;
}

.activo {
    background: var(--activo-placa);
    color: var(--activo-color);
}

.inactivo {
    background: var(--suspendido-placa);
    color: var(--suspendido-color);
}